@using Riverside.Cms.Services.Element.Domain

@model IElementViewModel<ForumElementSettings, ForumElementContent>

<div class="rcms-forum">

    <h2>Forum</h2>

    <p>To be implemented...</p>

</div>