@using Riverside.Cms.Applications.Web.Mvc.Extensions
@using Riverside.Cms.Services.Element.Domain

@model IElementViewModel<HtmlElementSettings, HtmlElementContent>

<div class="rcms-html">
    @Html.FormatHtmlElementHtml(Model.View)
</div>