@using RiversideCms.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model IElementView<TableElementSettings, TableElementContent>

<div class="rcms-table">

    @if (Model.Settings.DisplayName != string.Empty)
    {
        <h2>@Model.Settings.DisplayName</h2>
    }

    @if (Model.Settings.Preamble != string.Empty)
    {
        <p class="rcms-preamble">@Html.FormatMultiline(Model.Settings.Preamble)</p>
    }

    <table class="table">
        @if (Model.Content.Headers != null)
        {
            <thead>
                <tr>
                    @foreach (string header in Model.Content.Headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
        }
        @if (Model.Content.Rows.Any())
        {
            <tbody>
                @foreach (IEnumerable<string> row in Model.Content.Rows)
                {
                    <tr>
                        @foreach (string cell in row)
                        {
                            <td>@cell</td>
                        }
                    </tr>
                }
            </tbody>
        }
    </table>

</div>