@using RiversideCms.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model ElementView<PageListElementSettings, PageListElementContent>

<div class="rcms-page-list">

    <h2>Page list goes here</h2>

</div>