@using RiversideCms.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model IElementView<HtmlElementSettings, HtmlElementContent>

<div class="rcms-html">
    @Html.FormatHtmlElementHtml(Model)
</div>