version: '3.4'

services:
  storage.api:
    image: storage.api
    build:
      context: ./src/Services/Storage/Storage.API
      dockerfile: Dockerfile

  core.api:
    image: core.api
    build:
      context: ./src/Services/Core/Core.API
      dockerfile: Dockerfile
    depends_on:
      - storage.api

  element.api:
    image: element.api
    build:
      context: ./src/Services/Element/Element.Api
      dockerfile: Dockerfile
    depends_on:
      - core.api
      - storage.api

  cms.api:
    image: cms.api
    build:
      context: ./src/Services/Cms.Api
      dockerfile: Dockerfile

  web.mvc:
    image: web.mvc
    build:
      context: ./src/Applications/Web/Web.Mvc
      dockerfile: Dockerfile
    depends_on:
      - cms.api
      - core.api
      - element.api
      - storage.api