<div class="flib-form" v-cloak>
    <h1>Login</h1>
    <flib-validation-summary :custom-error-messages="getCustomErrorMessages"></flib-validation-summary>
    <div class="flib-field-group">
        <flib-text-field :definition="{ id: 'email', label: 'Email', required: true, requiredMessage: 'Email address is required' }" v-model="model.email" @@validate="validateForm" :custom-error-messages="getCustomErrorMessages"></flib-text-field>
        <flib-text-field :definition="{ id: 'password', label: 'Password', required: true, requiredMessage: 'Password is required' }" :password="true" v-model="model.password" @@validate="validateForm" :custom-error-messages="getCustomErrorMessages"></flib-text-field>
    </div>
    <div class="flib-button-group">
        <flib-button :definition="{ id: 'submitButton', label: 'Login' }" :state="{ disabled: false }" @@click="submitClicked" :enabled="form.valid"></flib-button>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-account.js" asp-append-version="true"></script>
    <script>
        account.initialiseLogin();
    </script>
}

