@model long

@{ 
    long pageId = Model;
}

<div class="flib-panel">
    <ol class="flib-breadcrumb" v-cloak>
        <li><a href="~/admin">Home</a></li>
        <li><a href="~/admin/pages">Pages</a></li>
        <li><a href="~/admin/pages/@pageId">{{page.name}}</a></li>
    </ol>
    <ul class="flib-actions">
        <li><a href="~/admin/pages/@pageId/update" title="Edit page" class="flib-button"><i class="fa fa-pencil"></i></a></li>
    </ul>
</div>

@await Html.PartialAsync("PageForm.cshtml", string.Empty)

@section Scripts
{
    <script src="~/js/admin-page.js" asp-append-version="true"></script>
    <script>
        page.initialise('read', @pageId);
    </script>
}