@model PageElementKey

<div class="flib-panel">
    <ol class="flib-breadcrumb" v-cloak>
        <li><a href="~/admin">Home</a></li>
        <li><a href="~/admin/pages">Pages</a></li>
        <li><a href="~/admin/pages/@Model.PageId">{{page.name}}</a></li>
        <li><a href="~/admin/pages/@Model.PageId/elementtypes/@Model.ElementTypeId/elements/@Model.ElementId">{{element.name}}</a></li>
    </ol>
    <ul class="flib-actions">
        <li><a href="~/admin/pages/@Model.PageId/elementtypes/@Model.ElementTypeId/elements/@Model.ElementId" title="Cancel action"><i class="fa fa-times"></i></a></li>
    </ul>
</div>

@await Html.PartialAsync("PageElementForm.cshtml", "Update")

@section Scripts
{
    <script src="~/js/admin-page-element.js" asp-append-version="true"></script>
    <script>
        page.initialise('update', @Model.PageId, '@Model.ElementTypeId', @Model.ElementId);
    </script>
}